@mixin lcars-btn-color($color)
{
  background-color: $color;
  color: #000;

  &:hover, &:active
  {
    background-color: lighten($color, 10%);
  }
}

.lcars-btn
{
  @extend .lcars-font;
  @extend .lcars-chrome;
  @extend .lcars-btn-lb;
  text-decoration: none;
  min-width: 4em;
  text-align: right;
  display: inline-block;
  padding: 0.3em 0.6em 0 0.6em;
  box-sizing: border-box;
  font-size: 16pt;
  border: 0;
  box-shadow: none;
  cursor: pointer;

  /* Button colors */
  &.lcars-btn-fl { @include lcars-btn-color($lcars-color-fl); }
  &.lcars-btn-bg { @include lcars-btn-color($lcars-color-bg); }
  &.lcars-btn-rb { @include lcars-btn-color($lcars-color-rb); }
  &.lcars-btn-be { @include lcars-btn-color($lcars-color-be); }
  &.lcars-btn-lb { @include lcars-btn-color($lcars-color-lb); }
  &.lcars-btn-ap { @include lcars-btn-color($lcars-color-ap); }
  &.lcars-btn-pi { @include lcars-btn-color($lcars-color-pi); }

  &.lcars-btn-block
  {
    display: block;
    width: calc(100% - 0.6em);
  }
}

.alert .lcars-btn
{
  &.lcars-btn-fl { @include lcars-btn-color($lcars-color-fl-alert); }
  &.lcars-btn-bg { @include lcars-btn-color($lcars-color-bg-alert); }
  &.lcars-btn-rb { @include lcars-btn-color($lcars-color-rb-alert); }
  &.lcars-btn-be { @include lcars-btn-color($lcars-color-be-alert); }
  &.lcars-btn-lb { @include lcars-btn-color($lcars-color-lb-alert); }
  &.lcars-btn-ap { @include lcars-btn-color($lcars-color-ap-alert); }
  &.lcars-btn-pi { @include lcars-btn-color($lcars-color-pi-alert); }
}

input [type="button"], button
{
  @extend .lcars-btn;
}