@keyframes lcars-color-1
{
  0%   {background-color: map-get($lcars-colors, pi);}
  24%  {background-color: map-get($lcars-colors, pi);}
  25%  {background-color: map-get($lcars-colors, lb);}
  49%  {background-color: map-get($lcars-colors, lb);}
  50%  {background-color: map-get($lcars-colors, rb);}
  74%  {background-color: map-get($lcars-colors, rb);}
  75%  {background-color: map-get($lcars-colors, or);}
  100% {background-color: map-get($lcars-colors, or);}
}

@keyframes lcars-on-off
{
  0%   {color: map-get($lcars-colors, or);}
  49%  {color: map-get($lcars-colors, or);}
  50%  {color: map-get($lcars-colors, ck);}
  100% {color: map-get($lcars-colors, ck);}
}

%loop-animation
{
  animation-iteration-count: infinite;
}

@mixin lcars-blink($duration)
{
  @extend %loop-animation;
  animation-name: lcars-color-1;
  animation-duration: $duration;
}

.lcars-blink-3 { @include lcars-blink(3s); }
.lcars-blink-4 { @include lcars-blink(4s); }
.lcars-blink-5 { @include lcars-blink(5s); }
.lcars-blink-6 { @include lcars-blink(6s); }
.lcars-blink-7 { @include lcars-blink(7s); }

.lcars-on-off
{
  animation-iteration-count: infinite;
  animation-name: lcars-on-off;
  animation-duration: 3s;
}
