.lcars-field
{
  @extend .lcars-bg-ho;
  border-radius: 1rem;
  padding: 1rem;
}

:root
{
  @include lcars-chrome-def($lcars-chrome-bg, $lcars-chrome-fg);
  @include lcars-chrome-def-alert($lcars-chrome-bg-alert, $lcars-chrome-fg-alert);
  @include lcars-screen-def($lcars-screen-bg, $lcars-screen-fg);
  @include lcars-basic-font-def($lcars-basic-font);
  @include lcars-title-font-def($lcars-title-font);
}

.alert
{
  --lcars-chrome-bg: var(--lcars-chrome-bg-alert) !important;
  --lcars-chrome-fg: var(--lcars-chrome-fg-alert) !important;
}

@each $name, $color in $lcars-colors {
  .lcars-chrome-#{$name} { #{"--lcars-chrome-bg"}: $color; }
}

.lcars-chrome
{
  background-color: var(--lcars-chrome-bg);
  display: flex;
  border-radius: 1em;

  .lcars-chrome
  {
    border-radius: 0;
  }

  .lcars-chrome-component
  {
    margin: 0;
    display: inline-block;
    flex: 0 0 auto;
  }

  h1, h2, h3, h4, h5, h6
  {
    @extend .lcars-chrome-component;
    color: var(--lcars-theme-title);
    background-color: var(--lcars-screen-bg);
    line-height: 100%;
    font-size: 260%;
    border-bottom: 0;
    margin-top: -0.25rem;
  }

  .lcars-bar-space
  {
    @extend .lcars-chrome-component;
    flex: 1 0 auto;
  }

  .lcars-btn
  {
  	@extend .lcars-chrome-component;
  }
}

.lcars-chrome-horizontal
{
  @extend .lcars-chrome;
  padding: 0 2rem;
  max-height: 2rem;
  height: 2rem;
  min-height: 2rem;
  flex-direction: row;

  .lcars-chrome-component:first-child
  {
    border-left: $lcars-edge-border;
  }

  .lcars-chrome-component
  {
    vertical-align: bottom;
    border-right: $lcars-basic-border;
  }

  .lcars-chrome-component:last-child
  {
    border-right: $lcars-edge-border;
  }

  &.alt-cap-right
  {
    border-right: 2.5em solid map-get($lcars-colors, or);
    padding-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.alt-cap-left
  {
    border-left: 2.5em solid map-get($lcars-colors, or);
    padding-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .lcars-bar-space.inlay-up
  {
    border-bottom: 0.5rem solid var(--lcars-screen-bg);
  }

  .lcars-bar-space.inlay-down
  {
    border-top: 0.5rem solid var(--lcars-screen-bg);
  }
}

.lcars-chrome-vertical
{
  @extend .lcars-chrome;
  padding: 2em 0;
  min-width: 6em;
  flex-direction: column;

  .lcars-chrome-component:first-child
  {
    border-top: $lcars-basic-border;
  }

  .lcars-chrome-component
  {
    text-align: right;
    border-bottom: $lcars-basic-border;
  }

  .lcars-chrome-component:last-child
  {
    border-bottom: $lcars-edge-border;
  }
}

@mixin lcars-chrome-size($height, $caption-size, $offset, $btn-padding, $btn-size)
{
  border-radius: 2em;
  &.lcars-chrome-horizontal
  {
    min-height: $height;
    height: $height;
    max-height: $height;
  }

  h1, h2, h3, h4, h5, h6
  {
    font-size: $caption-size;
    margin-top: $offset;
  }

  .lcars-btn
  {
    padding: $btn-padding;
    font-size: $btn-size;
  }
}

.lcars-chrome-small   { @include lcars-chrome-size(1rem,   130%, -0.12rem, 0    0.2rem,   90%);     }
.lcars-chrome-smaller { @include lcars-chrome-size(1.5rem, 185%, -0.12rem, 0rem 0.3rem,   inherit); }
.lcars-chrome-larger  { @include lcars-chrome-size(2.5rem, 330%, -0.3rem,  0.6rem,        16pt); }
.lcars-chrome-large   { @include lcars-chrome-size(3rem,   400%, -0.4rem,  1.2rem 0.6rem, 16pt); }

.lcars-chrome-field
{
  @extend .lcars-font;
  padding: 0 0.3rem;
  color: #000;
}

.text-bottom-left, .text-top-left
{
  text-align: left;
}

.text-top-right, .text-bottom-right
{
  text-align: right;
}

.text-bottom-right::before, .text-bottom-left::before
{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}

.lcars-round-right
{
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
