/* LCARS Colors (http://www.gtjlcars.de/LCARSindex/Colorindex1.htm) */

$lcars-colors: (
  or: #ff9900,
  fl: #cc99cc,
  bg: #9999cc,
  rb: #cc6666,
  be: #ffcc99,
  lb: #9999ff,
  ap: #ff9966,
  pi: #cc6699,
  lp: #ff99cc,
  ho: #f7c64a,
  ck: #000000
);

/*$lcarscolors: $lcars-colors;*/

$lcarsalertcolors: (
  or: #fdd,
  fl: #fcc,
  bg: #fbb,
  rb: #faa,
  be: #f99,
  lb: #f88,
  ap: #f77,
  pi: #f66,
  ho: #f55
);

@each $name, $color in $lcars-colors {
  /*$lcars-color-#{$name}: $color;*/
  .lcars-bg-#{$name} { background-color: $color; }
  .lcars-fg-#{$name} { color: $color; }
}

@each $name, $color in $lcarsalertcolors {
  .alert .lcars-bg-#{$name} { background-color: $color; }
  .alert .lcars-fg-#{$name} { color: $color; }
}
