// Full color palette
$lcars-colors: (
  or: map-get($lcars-voyager-colors, orange),
  fl: map-get($lcars-voyager-colors, lilac),
  bg: map-get($lcars-voyager-colors, blue-gray),
  rb: map-get($lcars-voyager-colors, russet),
  be: map-get($lcars-voyager-colors, beige),
  lb: map-get($lcars-voyager-colors, light-blue),
  ap: map-get($lcars-voyager-colors, apricot),
  pi: map-get($lcars-voyager-colors, pink),
  lp: map-get($lcars-voyager-colors, light-pink),
  ho: map-get($lcars-voyager-colors, light-orange),

  ck: map-get($lcars-palette, black),
  gr: map-get($lcars-palette, cold-gray),

  b1: map-get($lcars-uss-na-colors, blue-1),
  b2: map-get($lcars-uss-na-colors, blue-2),
  b3: map-get($lcars-uss-na-colors, blue-3),
  b4: map-get($lcars-uss-na-colors, blue-4),

  g1: map-get($lcars-uss-na-colors, green-1),
  g2: map-get($lcars-uss-na-colors, green-2),
  g3: map-get($lcars-uss-na-colors, green-3),
  g4: map-get($lcars-uss-na-colors, green-4),

  p1: map-get($lcars-palette, golden-tanoi),
  p2: map-get($lcars-palette, cold-gray),
  p3: map-get($lcars-palette, chestnut-rose),
  p4: map-get($lcars-palette, lilac),
  p5: map-get($lcars-palette, anakiwa),
  p6: map-get($lcars-palette, atomic-tangerine),

  pc: map-get($lcars-palette, pale-canary),
  gt: map-get($lcars-palette, golden-tanoi),
  nc: map-get($lcars-palette, neon-carrot),
  ep: map-get($lcars-palette, eggplant),
  lc: map-get($lcars-palette, lilac),
  ak: map-get($lcars-palette, anakiwa),
  mi: map-get($lcars-palette, mariner),
  bt: map-get($lcars-palette, baltic-blue),
  bb: map-get($lcars-palette, blue-bell),
  mr: map-get($lcars-palette, melrose),
  hb: map-get($lcars-palette, hopbush),
  cr: map-get($lcars-palette, chestnut-rose),
  op: map-get($lcars-palette, orange-peel),
  at: map-get($lcars-palette, atomic-tangerine),
  db: map-get($lcars-palette, danub),
  ig: map-get($lcars-palette, indigo),
  lr: map-get($lcars-palette, lavender-purple),
  cs: map-get($lcars-palette, cosmic),
  rd: map-get($lcars-palette, red-damask),
  ca: map-get($lcars-palette, medium-carmine),
  br: map-get($lcars-palette, bourbon),
  sb: map-get($lcars-palette, sandy-brown),
  pw: map-get($lcars-palette, periwinkle),
  dg: map-get($lcars-palette, dodger-blue),
  dd: map-get($lcars-palette, dodger-blue-alt),
  bl: map-get($lcars-palette, blue),
  nb: map-get($lcars-palette, navy-blue),
  hs: map-get($lcars-palette, husk),
  rs: map-get($lcars-palette, rust),
  tm: map-get($lcars-palette, tamarillo),

  bo: map-get($lcars-palette, blood-red),
  ch: map-get($lcars-palette, chinese-silver),
  cm: map-get($lcars-palette, crimson-red),
  rg: map-get($lcars-palette, rangoon-red),
  pr: map-get($lcars-palette, pure-red),
  ll: map-get($lcars-palette, laser-lemon),
  vr: map-get($lcars-palette, very-dark-red),

  tb: map-get($lcars-palette, strong-blue),
  ur: map-get($lcars-palette, nearly-pure-blue),
  mb: map-get($lcars-palette, mostly-pure-blue),
  cb: map-get($lcars-palette, cyan-blue),
  ib: map-get($lcars-palette, main-blue),
  ob: map-get($lcars-palette, dark-moderate-blue),
  ab: map-get($lcars-palette, saturated-blue),
  eb: map-get($lcars-palette, moderate-blue),
  bs: map-get($lcars-palette, black-swan),
  dr: map-get($lcars-palette, dark-brown),
  sg: map-get($lcars-palette, steel-gray),
  vb: map-get($lcars-palette, very-light-blue),
  vs: map-get($lcars-palette, very-soft-blue),
  on: map-get($lcars-palette, orange-brown),
  so: map-get($lcars-palette, strong-orange),
  vp: map-get($lcars-palette, very-light-pink),
  ag: map-get($lcars-palette, all-gold),
  my: map-get($lcars-palette, medium-yellow),
);

$lcars-alert-colors: (
  or: map-get($lcars-palette, very-pale-red),
  fl: map-get($lcars-palette, light-red),
  bg: map-get($lcars-palette, pale-red),
  rb: map-get($lcars-palette, patient-pink),
  be: map-get($lcars-palette, light-salmon-pink),
  lb: map-get($lcars-palette, very-light-red),
  ap: map-get($lcars-palette, bright-coral),
  pi: map-get($lcars-palette, bittersweet),
  ho: map-get($lcars-palette, sunset-orange),
);
