.badge-a
{
  display: inline-block;
  border-top-left-radius: 1rem 2rem;
  border-top-right-radius: 1rem 2rem;
  border-bottom-left-radius: 1rem 2rem;
  border-bottom-right-radius: 1rem 2rem;
  padding: 0 1rem;
  background-color: rgb(200,0,0);

  h1,h2,h3,h4,h5,h6
  {
  	margin: 0.1em 0 -0.1em 0;
  	border-bottom: none;
  }

  span
  {
  	font-family: LCARSGTJ3, Helvetica, sans-serif;
  }

  &::before
  {
  	content: attr(key);
  	float: left;
  	font-size: 400%;
  	font-family: LCARSGTJ3, Helvetica, sans-serif;
  	padding-right: 1rem;
  	border-right: 0.3rem solid #fff;
  	margin-right: 1rem;
  }
}

.badge
{
  display: inline-grid;
  grid-template-rows: [head] max-content [mid] max-content [tail];
  grid-template-columns: [head] max-content [bar] max-content [from] minmax(min-content,20rem) [tail];

  border-top-left-radius: 1rem 2rem;
  border-top-right-radius: 1rem 2rem;
  border-bottom-left-radius: 1rem 2rem;
  border-bottom-right-radius: 1rem 2rem;
  padding: 0 1rem;
  margin: 0.3rem;

  &.badge-red { background-color: rgb(200,0,0); }
  &.badge-brown { background-color: rgb(150,80,50); }
  &.badge-blue { background-color: #336699; }

  h1,h2,h3,h4,h5,h6
  {
    margin: 0 0 -0.2em 0;
    line-height: 2rem;
    vertical-align: bottom;
    border-bottom: none;
    grid-area: head / from / mid / tail;
    align-self: end;
  }

  span
  {
    font-family: LCARSGTJ3, Helvetica, sans-serif;
    grid-area: mid / from / tail / tail;
    display: inline-block;
    line-height: 1.1em;
  }

  &::before
  {
    content: attr(data-key);
    grid-area: head / head / tail / bar;
    font-size: 400%;
    font-family: LCARSGTJ3, Helvetica, sans-serif;
    padding-right: 1rem;
  }

  &::after
  {
    content: "";
    grid-area: head / bar / tail / from;
    border-right: 0.1rem solid #fff;
    border-left: 0.2rem solid #fff;
    display: block;
    width: 0.4rem;
    margin-right: 1rem;
  }
}
