/* http://www.gtjlcars.de/LCARSindex/LCARSFONTS.htm */

@font-face {
  font-family: LCARSGTJ3;
  src: url(assets/font/LCARSGTJ3.ttf);
}

.lcars-font
{
  font-family: LCARSGTJ3;
  font-size: 12pt;
}

h1, h2, h3, h4, h5, h6
{
  border-bottom: 1px dotted #eee;
  font-family: LCARSGTJ3;
}

p
{
  text-align: justify;

  a
  {
    text-decoration: none;
    color: #f00;
    font-weight: bold;

    &::before
    {
      content: "["; //"\2022"
    }

    &::after
    {
      content: "]"; //"\2022"
    }

    &:hover
    {
      text-decoration: underline;
    }
  }
}

.lcars-message
{
  text-align: center;

  %message-heading
  {
    border-bottom: none;
    margin: -0.3em 0 -0.4em 0;
  }

  h1 { @extend %message-heading; font-size: 1500%; }
  h2 { @extend %message-heading; font-size: 1000%; }
  h3 { @extend %message-heading; font-size: 750%; }
  h4 { @extend %message-heading; font-size: 500%; }
  h5 { @extend %message-heading; font-size: 400%; }
  h6 { @extend %message-heading; font-size: 250%; }
}

.lcars-img-header
{
  border-bottom: none;
  color: $lcars-color-or;
}
