.lcars-grid
{
  display: grid;
  grid-template-rows: [head] min-content [side-end] 1em [content-begin] auto [content-end] 1em [end-begin] min-content [tail];
  grid-template-columns: [head] min-content [side-end] 1em [content-begin] auto [content-end] 0 [end-begin] 0 [tail];
  grid-template-areas: "top-left-corner    top-left-corner    topbar     topbar     topbar"
                       "top-left-corner    top-left-corner    topline    topline    topline"
                       "sidebar            sideline           content    content    ."
                       "bottom-left-corner bottom-left-corner bottomline bottomline bottomline"
                       "bottom-left-corner bottom-left-corner bottombar  bottombar  bottombar";

  .lcars-sidebar { grid-area: sidebar; }
  .lcars-topbar { grid-area: topbar; }
  .lcars-bottombar { grid-area: bottombar; }
}

%horizontal-left-merge
{
  padding-left: 1em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

%horizontal-right-merge
{
  padding-right: 1em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

%vertical-top-merge
{
  padding-top: 1em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

%vertical-bottom-merge
{
  padding-bottom: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin lcars-merged-top-left($chrome-bg, $screen-bg)
{
  background-color: $chrome-bg;
  background-image: radial-gradient(circle at 100% 100%, $screen-bg 1em, $chrome-bg 1em);
}

@mixin lcars-merged-bottom-left($chrome-bg, $screen-bg)
{
  background-color: $chrome-bg;
  background-image: radial-gradient(circle at 100% 0, $screen-bg 1em, $chrome-bg 1em);
}

.lcars-merged-top-left::before, .lcars-merged-bottom-left::after
{
  display: block;
  content: "";
}

.lcars-merged-top-left::before
{
  @include lcars-merged-top-left(var(--lcars-chrome-bg), var(--lcars-screen-bg));
  border-top-left-radius: 3em 3em;
}

.lcars-merged-bottom-left::after
{
  @include lcars-merged-bottom-left(var(--lcars-chrome-bg), var(--lcars-screen-bg));
  border-bottom-left-radius: 3em 3em;
}

.lcars-grid-merged
{
  @extend .lcars-merged-top-left;
  &::before { grid-area: head / head / content-begin / content-begin; }

  @extend .lcars-merged-bottom-left;
  &::after { grid-area: content-end / head / tail / content-begin; }

  > .lcars-bottombar.lcars-chrome-horizontal,
  > .lcars-topbar.lcars-chrome-horizontal
  { @extend %horizontal-left-merge }

  > .lcars-sidebar.lcars-chrome-vertical { @extend %vertical-top-merge }
  > .lcars-sidebar.lcars-chrome-vertical { @extend %vertical-bottom-merge }
}

.lcars-grid-content { grid-area: content-begin / content-begin / content-end / content-end; }

.lcars-scrollable
{
  overflow-y: auto;
  padding-right: 1rem;
}

/* LCARS page */
$lcars-bar-height: 2rem;
$lcars-knob-width: 2rem;

$lcars-page-padding: $lcars-knob-width + $lcars-edge-width;
$lcars-page-space: 0.5rem;

.lcars-page
{
  display: grid;
  grid-template-columns:
    [head] $lcars-page-padding
    [content-begin] auto [content-end]
    $lcars-page-padding [tail];
  grid-template-rows:
    [head] min-content [bar-end] $lcars-page-space
    [content-begin] auto [content-end]
    $lcars-page-space [bar-start] min-content [tail];

  .lcars-topbar { grid-area: head / head / bar-end / tail; }
  .lcars-bottombar { grid-area: bar-start / head / tail / tail; }
  .lcars-infoline
  {
    grid-area: bar-end / content-begin / content-begin / content-end;
    text-align: right;
    font-size: 10pt;
    font-weight: bold;
  }
}

/* LCARS analytical */
.lcars-analytical
{
  display: grid;
  grid-template-columns:
    [head] 6rem [side-end] 0.4rem [content-begin] 0.6rem
    [status-begin] 1fr [mid-on] 1rem [mid-off] 1fr [content-end];
  grid-template-rows:
    [head] 9rem [status-low] 1rem [status-end]
    min-content [bar-mid-on] 0.2rem [bar-mid-off] min-content
    [title-begin] 1rem [content-begin] 1fr [mid-on] 1rem [mid-off] 1fr [content-end];

  .lcars-status { grid-area: head / status-begin / status-end / content-end; }
  .lcars-status-left { grid-area: head / status-begin / status-end / mid-on; }
  .lcars-status-right { grid-area: head / mid-off / status-end / content-end; }

  .lcars-topbar { grid-area: status-end / status-begin / bar-mid-on / content-end; }
  .lcars-bottombar { grid-area: bar-mid-off / status-begin / title-begin / content-end; }

  .lcars-sidebar { grid-area: content-begin / head / content-end / side-end; }
  .lcars-altbar { grid-area: head / head / status-low / side-end; }
}

.lcars-analytical-merged
{
  @extend .lcars-merged-top-left;
  &::before { grid-area: bar-mid-off / head / content-begin / status-begin }

  @extend .lcars-merged-bottom-left;
  &::after { grid-area: status-low / head / bar-mid-on / status-begin }

  .lcars-altbar, .lcars-sidebar
  {
    @extend %vertical-top-merge;
    @extend %vertical-bottom-merge;
  }
  .lcars-topbar, .lcars-bottombar { @extend %horizontal-left-merge; }
}

.lcars-topbar, .lcars-bottombar
{
  & > *:first-child { border-left: 0.3rem solid var(--lcars-screen-bg); }
  & > *:last-child { border-right: 0.3rem solid var(--lcars-screen-bg); }
}

.lcars-sidebar, .lcars-altbar
{
  & > *:first-child { border-top: 0.3rem solid var(--lcars-screen-bg); }
  & > *:last-child { border-bottom: 0.3rem solid var(--lcars-screen-bg); }
}
