// Produce the CSS variables for chrome color
@mixin lcars-chrome-def($bg, $fg)
{
  --lcars-chrome-bg: #{$bg};
  --lcars-chrome-fg: #{$fg};
}

// Produce the CSS variables for light chrome color
@mixin lcars-chrome-def-light($bg, $fg)
{
  --lcars-chrome-bg-light: #{$bg};
  --lcars-chrome-fg-light: #{$fg};
}

// Produce the CSS variables for chrome color in alerts
@mixin lcars-chrome-def-alert($bg, $fg)
{
  --lcars-chrome-bg-alert: #{$bg};
  --lcars-chrome-fg-alert: #{$fg};
}

// Produce the CSS variables for screen color
@mixin lcars-screen-def($bg, $fg)
{
  --lcars-screen-bg: #{$bg};
  --lcars-screen-fg: #{$fg};
}

// Produce the CSS variables for text font
@mixin lcars-basic-font-def($font-family)
{
  --lcars-basic-font: #{$font-family};
}

// Produce the CSS variables for title font
@mixin lcars-title-font-def($font-family)
{
  --lcars-title-font: #{$font-family};
}

// Border-Radius Helpers
@mixin border-radius-top($n)    { border-top-left-radius:    $n; border-top-right-radius:    $n; }
@mixin border-radius-right($n)  { border-top-right-radius:   $n; border-bottom-right-radius: $n; }
@mixin border-radius-bottom($n) { border-bottom-left-radius: $n; border-bottom-right-radius: $n; }
@mixin border-radius-left($n)   { border-top-left-radius:    $n; border-bottom-left-radius:  $n; }

// Use the CSS variables to set screen colors
%lcars-screen-ref
{
  background-color: var(--lcars-screen-bg);
  color:            var(--lcars-screen-fg);
}

// Use the CSS variables to set chrome colors
%lcars-chrome-ref
{
  background-color: var(--lcars-chrome-bg);
  color:            var(--lcars-chrome-fg);
}

// Use the CSS variables to set title font
%lcars-title-font-ref
{
  font-family: var(--lcars-title-font);
}

// Use the CSS variables to set basic font
%lcars-basic-font-ref
{
  font-family: var(--lcars-basic-font);
}

%lcars-body-ref
{
  @extend %lcars-screen-ref;
  @extend %lcars-basic-font-ref;
  padding: $lcars-body-padding;
  margin: 0;
}

%lcars-chrome-heading
{
  color:            var(--lcars-theme-title);
  background-color: var(--lcars-screen-bg);
  font-size:        var(--lcars-chrome-caption-size);
  margin-top:       var(--lcars-chrome-offset);
  line-height:      calc(1.3 * var(--lcars-chrome-height));
}

%lcars-chrome-heading-reset
{
  margin-bottom: 0;
  border-bottom: 0;
}
