html
{
  font-size: 12pt;
}

iframe
{
	border: 0;
}

table td, table th
{
  padding: 0.1rem 0.3rem;
}

table
{
  border-spacing: 0.3rem;
  border: 1px solid white;
  margin-bottom: 1rem;
}

p code
{
  color: var(--lcars-theme-secondary);
}

%heading
{
  margin: 0 0 0.6em 0;
  font-weight: normal;
}

h1 { @extend %heading; font-size: 200%; }
h2 { @extend %heading; font-size: 150%; }
h3 { @extend %heading; font-size: 125%; }
h4 { @extend %heading; font-size: 112.5%; }
h5 { @extend %heading; font-size: 100%; }
h6 { @extend %heading; font-size: 87.5%; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner
{
  border: 1px dotted transparent;
  padding: 0 0;
}
