@import 'variables';
@import 'mixins';
@import 'themes';
@import 'colors';
@import 'font';
@import 'chrome';
@import 'layouts/all';
@import 'layout';
@import 'reset';
@import 'util';
@import 'button';
@import 'features';
@import 'animation';
@import 'elements';

.lcars-fixed
{
  height: 100%;
  box-sizing: border-box;
}

/* Size definitions */
$lcars-large-size: 4em;
$lcars-normal-size: 2em;
$lcars-small-size: 1em;

.lcars-body {
  @extend %lcars-body-ref;
}